.StripeCheckout span {
  background-color: #406a3d !important;
  background-image: none !important;
}

.StripeCheckout {
  background-color: #406a3d !important;
  background-image: none !important;
}
