.middle-header-area form .row .select-column .form-group select {
  background-color: #124908;
  color: #fff;
  height: 50px;
}

.middle-header-area form .row .select-column .form-group select option {
  background: #fff;
  color: #000000;
}

.middle-header-logo{
  width: 64px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

a{
  color: white !important;
}
